@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-200);
}

:root {

  --red:#E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F;
  --yellow:#EABD5F;
  --gray-100:#0D0E11;
  --gray-200:#16181D;
  --gray-300:#292C34;
  --gray-400:#878EA1;
  --gray-500:#C0C4CE;
  --gray-600:#E2E4E9;

  --fonte-family-titlle:"Asap", sans-serif;
  --fonte-family-subtitlle:"Inconsolata", sans-serif;
  --fonte-family-text:"Maven Pro", sans-serif;

  --title-lg:bold 56px/120% var(--fonte-family-titlle);
  --title-md:bold 24px/120% var(--fonte-family-titlle);
  --title-sm:bold 16px/120% var(--fonte-family-titlle);
  --subtitle:400 20px/120% var(--fonte-family-subtitlle);
  --text-md:400 16px/140% var(--fonte-family-text);
  --text-sm:400 14px/140% var(--fonte-family-text);

}

#info {
  width: 100%;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 72px;
  justify-items: center;
  background-color: var(--gray-200);
  background-image: url(../assets/image/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#tags{
  display: flex;
  gap: 16px;
  margin-bottom: 94px;

  .tag{
    display:flex;
    color: var(--gray-500);
    background-color: var(--gray-300);
    border-radius: 16px;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;

  }
}

#projects {
  background-color: var(--gray-200);
  
}
